.course-code-box {
    float: left;
    background: none repeat scroll 0% 0% #4D5CAD;
    border-radius: 4px;
    color: #FFF;
    font-size: 1em;
    padding: 0.8em 0.5em;
    width: 50px;
    text-align: center;
    margin-left: 0.4em;
}
.course-detail-box {
    float: left;
    background: none repeat scroll 0% 0% #EF4E4E;
    border-radius: 4px;
    color: #FFF;
    font-size: 0.9em;
    text-align: center;
    padding: 1.2em 0.5em;
    width: 60px;
}
.course-info {
    float: left;
    padding-left: 0.6em;
}
.hidden{
   display:none;
}
.ui-li-desc{
font-size:0.9em;
}
.ui-li-heading{
   font-size:1em;
}
.content{
   display:none;
}
.ui-content .ui-listview-inset {
    margin: 1em 1em;
}
.ui-listview-filter-inset {
    margin: 1em;
    background: none repeat scroll 0% 0% transparent;
}